langchain==0.2.7
langchain-openai==0.1.15
openai==1.35.13
yacs==0.1.8
uvicorn==0.30.1
fastapi==0.111.0
python-dotenv==1.0.1
pymongo==4.7.3
langfuse==2.36.1
apscheduler==3.10.4
pillow==10.3.0
google-cloud-storage==2.17.0
openpyxl==3.1.4
llama-index==0.10.46
llama-index-graph-stores-neo4j==0.2.7
llama-index-llms-databricks
llama-index-embeddings-databricks
pyvis==0.3.2
semantic-router==0.0.48
