APP_NAME=
DATABRICKS_URL=
DATABRICKS_ENDPOINT=
DATABRICKS_TOKEN=
DATABRICKS_EMBEDDING_ENDPOINT=
DATABRICKS_ENDPOINT_NAME=
LLAMA_ENDPOINT_NAME=
MONGO_URI=
TLS=
AUTH_MECHANISM=
RETRY_WRITE=
MAXIDLETIMEMS=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=
API_CLIENT_ID=
APP_CLIENT_ID=
API_CLIENT_SECRET=
SWAGGER_UI_CLIENT_ID=
AAD_TENANT_ID=
API_AUDIENCE=
DATABASE_NAME=
VERSION=
PROJECT_NAME=
REDIS_URI=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
EXT_AD_TENANT_ID=
EXT_AD_CLIENT_ID=
EXT_AD_CLIENT_SECRET=
POPPLER_PATH=
ELASTICSEARCH_API_KEY=
ELASTICSEARCH_HOST=
INDEX_NAME=

# Testing configuration
TESTING_MONGO_URI=
TESTING_DATABASE_NAME=
TESTING_REDIS_URI=
TESTING_REDIS_PORT=
